@media(min-width:1280px) {
    .container {
        max-width: 1280px;
    }
}

.form {
    width: 1280px;
    margin-top: 50px;
    height: 143px;
    background-color: #3F0DA9;
    border-radius: 12px 0px 0px 12px;
}

.detail {
    color: var(--Logo---Light, #FBE9A9);
    font-family: Inika;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.72px;
    padding: 40px 160px 0 200px;
}

.add_detail {
    padding-top: 0;
    font-size: 20px;
    font-weight: 400;
}

.content {
    width: 600px;
    margin-left: 450px;
    margin-top: 50px;
}

button {
    margin-top: 105px;
    background-color: #3F0DA9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 28px 30px;
    color: var(--Logo---Light, #FBE9A9);
    font-family: Inika;
    font-size: 31.108px;
}

a {
    text-decoration: none;

  }

.head {
    color: var(--Dark, #4E4D4D);
    font-family: Inika;
    font-size: 28px;
    font-weight: 700;
}

.font_style {
    color: var(--Dark, #4E4D4D);
    font-family: Inika;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

#input_div{
    width: 600px;
    height: 64px;
    margin-top: 10px;
    margin-bottom: 50px;

}

#input{
    margin-bottom: 30px;
    width: 600px;
    height: 64px;
    margin-top: 10px;
}

.pin {
    color: var(--Dark, #4E4D4D);
    font-family: Inika;
    font-size: 20px;
    font-weight: 700;
}

.town{
    color: var(--Dark, #4E4D4D);
    font-family: Inika;
    font-size: 20px;
    font-weight: 700;
}