@import url('https://fonts.googleapis.com/css?family=Inika');

button {
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media(min-width:1280px) {
  .container {
    max-width: 1280px;
    padding: 0%;
  }
}

.high {
  background-color: #007bff;
  color: white;
  width: 160px;
  margin-top: 10px;
}

.low {
  background-color: #007bff;
  color: white;
  width: 160px;
  margin-left: 30px;
  margin-top: 10px;

}

.brands {
  height: 100px;
}


.head {
  margin-top: 20px;
  width: 1280px;
}

.header_1 {
  height: 56px;
  float: left
}

.header_2 {
  height: 56px;
}

.Cart {
  float: right;
  margin-left: 10px;
  margin-right: 35px;
}

.Search_bar {
  float: right;
  margin-right: 35px;
}

.E_icon {
  margin-right: 50px;
  float: left;
  /* margin-left: 60px; */
}

@media (max-width: 992px) {
  .E_icon {
    float: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: sticky;
  }
}

.menu {
  height: 20px;
  width: 30px;
  float: left;
  margin-top: 50px;
  margin-left: 15px;
}

.cart {
  height: auto;
  margin-top: 20px;
  float: right;
}

@media (max-width: 576px) {
  .cart {
    margin-top: 42px;
    height: 25px;
  }
}

.Smartphones {
  float: left;
  margin-right: 30px;
}

.Laptops {
  float: left;
  margin-right:28px;

}

.Home_decor {
  float: left;
  margin-right: 28px;

}

.More {
  float: left;
  margin-right: 28px;
}

.font {
  color: var(--Logo---Blue, #3722D3);
  font-family: Inika;
  font-size: 18px;
  font-weight: 400;
  line-height: 56px;
}


.footer {
  background-color: #3722D3;
  height: 230px;
  position:relative;
  top:100px;
  width: 100%;
}


.nav {
  margin: auto;
}

.footer_icon {
  margin-bottom: 40px;
  margin-left: 870px;
}

@media(max-width) {
  .footer_icon {
    float: left;
  }
}

.text {
  width: max-content;
  font-family: Inika;
  margin: 15px auto;
  color: var(--Logo---Light, #FBE9A9);
  font-size: 28px;
  font-weight: 600;
}

#img{
  margin-left:30px;
}